/*======================== FONTS ========================*/

@font-face {
   font-family: 'TimesNR-Cond';
   src: url('../fonts/TimesNR-Cond.eot');
   src: url('../fonts/TimesNR-Cond.eot?#iefix') format('embedded-opentype'), url('../fonts/TimesNR-Cond.woff') format('woff'), url('../fonts/TimesNR-Cond.woff2') format('woff2'), url('../fonts/TimesNR-Cond.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'VenusSB';
   src: url('../fonts/VenusSB-Bold.eot');
   src: url('../fonts/VenusSB-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/VenusSB-Bold.woff') format('woff'), url('../fonts/VenusSB-Bold.woff2') format('woff2'), url('../fonts/VenusSB-Bold.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

/*======================== GLOBAL ========================*/

html {
   -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
.no-scroll {
   height: 100%;
   overflow: hidden;
}
body {
   height: 100%;
   overflow: auto;
   font-family: Arial, sans-serif;
   font-size: 15px;
   line-height: 23px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   letter-spacing: .6px;

   color: #ECEFF1;
   background: #000;
   font-kerning: normal;
   margin: 0 auto;
}
h1 {
   font-family: 'VenusSB', Arial, sans-serif;
   font-weight: 900;
   font-size: 28px;
   line-height: 32px;
   letter-spacing: 0;
   text-align: center;
}
h2 {
   font-family: 'VenusSB', Arial, sans-serif;
   font-weight: 900;
   padding-bottom: 12px;
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 1px;
}
a {
   text-decoration: none;
   color: #ECEFF1;
   cursor: pointer;
}
.project-images a:hover {
   border: none;
}
a:hover {
   border-bottom: 1px dotted #ECEFF1;
}
ul {
   margin-bottom: 16px;
}
strong {
   font-family: 'VenusSB', Arial, sans-serif;
   font-weight: 900;
   font-size: 1.1em;
}
em {
   font-style: italic;
}
.selected {
   pointer-events: none;
}
.selected a {
   border-bottom: 1px dotted #ECEFF1;
}
.copyright {
   position: fixed;
   bottom: 64px;
   right: 0;
   opacity: 0;
   transform: rotate(90deg);
   animation: fadeIn 600ms ease-out;
   animation-delay: 650ms;
   animation-fill-mode: forwards;
}

/*======================== MAIN ========================*/

.main {
   padding: 32px;
   position: fixed;
   opacity: 0;
   animation: fadeIn 600ms ease-out;
   animation-delay: 650ms;
   animation-fill-mode: forwards;
}
.menu {
   margin-bottom: 32px;
}
p.about {
   max-width: 440px;
   margin-bottom: 32px;
   position: relative;
   text-shadow: 0px 0px 32px #151414;
   padding-left: 0;
   transition: all 300ms cubic-bezier(0.37, 0.35, 0.12, 1);
}
p.about:hover {
   padding-left: 80px;
   transition: all 400ms cubic-bezier(0.37, 0.35, 0.12, 1);
}
p.about .bomb {
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
   transform: translateX(16px);
   z-index: 25;
   cursor: pointer;
   transition: all 300ms cubic-bezier(0.37, 0.35, 0.12, 1);
}
p.about:hover .bomb {
   opacity: 1;
   transition: all 400ms cubic-bezier(0.37, 0.35, 0.12, 1);
   transform: translateX(0px);
}
p.about:hover .bomb a:hover {
   border: none;
}
.bomb svg {
   width: 48px;
}
img {
   opacity: 0;
   transition: all 300ms;
   z-index: 10;
}
img.loaded {
   transition-delay: 1.5s;
   opacity: 1;
}
.loading {
   position: absolute;
   left: 16px;
   top: 16px;
   z-index: 0;
}
.iris {
   width: 16px;
   height: 16px;
   transform: rotateZ(0deg);
   animation: loop 750ms infinite linear;
   position: absolute;
   top: 4px;
   left: 8px;
}
.eye {
   width: 32px;
   height: 24px;
   float: left;
}

/*======================== CONTAINER ========================*/

.project {
   color: #141212;
   z-index: 100;
   position: relative;
   width: 80%;
   max-width: 1200px;
   float: right;
   margin-right: 5%;
   background: #FFF;
   transform: translateY(110vh);
   box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 1);
   box-sizing: border-box;
   padding: 24px 32px 0px;

   min-height: 101%;
   -webkit-perspective: 1000;
   -webkit-backface-visibility: hidden;
}
.close {
   font-family: Arial, sans-serif;
   font-size: 17px;
   line-height: 23px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   letter-spacing: .6px;
   text-transform: capitalize;

   position: absolute;
   top: 16px;
   right: 20px;
   cursor: pointer;
}
.close:hover {
   opacity: .3;
}
.spacer {
   clear: both;
   float: right;
   width: 1px;
   margin-bottom: 124vh;
   pointer-events: none;
}
.project-images {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
}
.project-images img {
   width: 100%;
   position: relative;
   background: #FFF;
}
.project-images a img {
   cursor: ne-resize;
}
.project-images > * {
   box-sizing: border-box;
   padding: 4px;
}
.col-left > div:first-child {
   margin-bottom: 16px;
}
.row, .row-60, .row-80, .left-40, .left-50, .left-70, .left-60, .left-30, .right-40, .right-30, .right-50, .right-60 {
   position: relative;
   min-height: 272px;
}
.project-images .row {
   width: 100%;
}
.row-60 {
   width: 60%;
}
.row-60 > img {
   display: inline;
   width: 50%;
   float: left;
   box-sizing: border-box;
}
.row-60 > img:first-child {
   padding-right: 8px;
}
.row-60 > img:nth-child(2n) {
   padding-left: 8px;
}
.row-80 {
   width: 80%;
}
.left-40 {
   width: 40%;
   box-sizing: border-box;
   padding-right: 12px;
}
.left-50 {
   width: 50%;
   box-sizing: border-box;
   padding-right: 8px;
}
.left-60 {
   width: 60%;
   padding-right: 12px;
   box-sizing: border-box;
}
.left-70 {
   width: 70%;
   padding-right: 12px;
   box-sizing: border-box;
}
.left-30 {
   width: 30%;
   box-sizing: border-box;
   padding-right: 12px;
}
.right-30 {
   width: 30%;
}
.right-40 {
   width: 40%;
}
.right-50 {
   width: 50%;
   box-sizing: border-box;
   padding-left: 8px;
}
.right-60 {
   width: 60%;
}
.attr {
   font-family: Arial, sans-serif;
   font-size: 12px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   letter-spacing: .6px;
   padding: 4px 0;
}
.role {
   font-family: Arial, sans-serif;
   font-size: 17px;
   font-style: italic;
   line-height: 23px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   letter-spacing: .6px;
   text-align: center;
   padding-bottom: 24px;
}
.desc {
   font-family: Arial, sans-serif;
   font-size: 17px;
   line-height: 23px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   letter-spacing: .6px;
   width: 60%;
   margin-left: 40%;
   box-sizing: border-box;
   padding: 48px 16px 90px 8px;
}
.desc > p:first-child {
   text-indent: 32px;
}
.desc ul {
   padding-top: 24px;
}
.desc a {
   color: #141212;
   border-bottom: 1px dotted #141212;
}
.desc a:hover {
   border-bottom: 1px dotted transparent;
}
.desc strong a {
   border: none;
}

/*======================== MEDIA QUERIES ========================*/

@media (max-width: 768px) {
   /* everything below 767 */
   .main {
      padding: 16px;
   }
   h1 {
      font-size: 24px;
   }
   .close {
      display: none;
   }
   .project {
      width: 94%;
      margin: 0 3%;
      padding: 8px 16px;
   }
   .project-images > * {
      box-sizing: border-box;
      padding: 4px 0;
   }
   .desc {
      width: 100%;
      margin: 0;
   }
   .clear {
      clear: both;
      display: block;
   }
   .project-images .row {
      width: 100%;
      padding: 0;
      margin-bottom: 4px;
   }
   .row, .row-60, .row-80, .left-40, .left-50, .left-70, .left-60, .left-30, .right-40, .right-30, .right-50, .right-60 {
      min-height: 0;
   }
   .row-60 {
      width: 100%;
      padding: 0;
   }
   .row-60 > img {
      width: 100%;
   }
   .row-60 > img:first-child {
      padding: 0px;
      margin-bottom: 12px;
   }
   .row-60 > img:last-child {
      padding: 0px;
   }
   .row-80 {
      width: 100%;
   }
   .left-40 {
      width: 100%;
      padding: 0px;
   }
   .left-30 {
      width: 100%;
   }
   .left-50 {
      width: 100%;
   }
   .left-60 {
      width: 100%;
      padding: 0px;
      margin-bottom: 4px;
   }
   .left-70 {
      width: 100%;
      padding: 0px;
      margin-bottom: 4px;
   }
   .right-30 {
      width: 100%;
   }
   .right-40 {
      width: 100%;
   }
   .right-50 {
      width: 100%;
   }
   .right-60 {
      width: 100%;
   }
   .copyright {
      position: fixed;
      bottom: 52px;
      right: -16px;
   }
}
@media (max-height: 600px) {
   .main {
      padding: 12px;
   }
   .main, p.about {
      font-size: 13px;
      line-height: 21px;
   }
   h2 {
      padding-bottom: 8px;
   }
   p.about, .menu, .main ul {
      margin-bottom: 16px;
   }
}

/*======================== ANIMATION ========================*/

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes loop {
   0% {
      transform: rotateZ(0deg);
   }
   100% {
      transform: rotateZ(360deg);
   }
}
