/*======================== FONTS ========================*/

@font-face {
    font-family: 'TimesNR-Cond';
    src: url('../fonts/TimesNR-Cond.eot');
    src: url('../fonts/TimesNR-Cond.eot?#iefix') format('embedded-opentype'), url('../fonts/TimesNR-Cond.woff') format('woff'), url('../fonts/TimesNR-Cond.woff2') format('woff2'), url('../fonts/TimesNR-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VenusSB';
    src: url('../fonts/VenusSB-Bold.eot');
    src: url('../fonts/VenusSB-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/VenusSB-Bold.woff') format('woff'), url('../fonts/VenusSB-Bold.woff2') format('woff2'), url('../fonts/VenusSB-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'VenusSB';
    src: url('../fonts/VenusSB-Medium.eot');
    src: url('../fonts/VenusSB-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/VenusSB-Medium.woff') format('woff'), url('../fonts/VenusSB-Medium.woff2') format('woff2'), url('../fonts/VenusSB-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*======================== GLOBAL ========================*/

body {
    background: #141212;
    font-family: 'VenusSB', arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #F7F7F5;
}

/*======================== NAV ========================*/

nav {
   position: fixed;
   top: 0;
   width: 100%;
   font-family: "Monosten E", Arial, monospace;
   font-size-adjust:0.5;
   font-weight:200;
   font-style:normal;

   font-size: 14px;
   line-height: 56px;
   background: #141212;
   height: 56px;
}

nav ul {
    display: flex;
}

nav ul li {
    width: 25%;
}

nav li a {
   color: #F7F7F5;
   text-decoration: none;
}

nav ul li:first-child {
    text-align: left;
    padding-left: 24px;
}

nav ul li:nth-child(2) {
    text-align: center;
    width: 50%;
}

nav ul li:last-child {
    text-align: right;
    padding-right: 24px;
}

nav .arrow {
   display: block;
   margin-top: -42px;
}


/*======================== MENU ========================*/

.menu {
    text-align: center;
    font-size: 2em;
    line-height: 1.778em;
    margin-top: 96px;
    margin-bottom: 96px;
}

.menu ul li {
    margin-bottom: 48px;
}

.menu ul li a {
   color: #F7F7F5;
   text-decoration: none;
}

strong {
    font-weight: 900;
}

.role {
    /*font-family: 'TimesNR-Cond', serif;*/
    font-family: 'VenusSB', serif;
    display: block;
    clear: both;
    font-size: .7em;
    line-height: .9em;
}

.num {
   font-family: "Monosten E", Arial, monospace;
   font-size: 14px;
   line-height: 16px;
   display: block;
}
